demo/demo-soap/src/main/resources/usuarios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://demo.com/soap/usuarios"
           targetNamespace="http://demo.com/soap/usuarios" 
           elementFormDefault="qualified">

    <xs:element name="getUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:UsuarioSoap"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUsuariosRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUsuariosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuarios" type="tns:UsuarioSoap" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="UsuarioSoap">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
